# Tarefa 02

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [2]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acer'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acer'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acer'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acer'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acer'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acer'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acer'])

num_quest = pd.DataFrame([24,18,8,8,8,12,12], index =['Matemática','Português','Geografia','Inglês','História','Física','Química'])

In [3]:
num_quest = pd.DataFrame([24,18,8,8,8,12,12], columns = ['quest'], index = ['Matemática','Português','Geografia','Inglês','História','Física','Química'])
num_quest.T

       Matemática  Português  Geografia  Inglês  História  Física  Química
quest          24         18          8       8         8      12       12

In [4]:
# 1.1. % Acerto dos alunos em Matemática

alunos = np.array(range(1,101))

df_mat_a = np.array(df_mat)

pc_mat = pd.DataFrame(df_mat_a/num_quest.iloc[0,0]*100, columns = ['Quest'], index = [alunos])

pd.options.display.float_format = '{:.2f}'.format

pc_mat.T

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
Quest,25.00,79.17,58.33,41.67,29.17,83.33,25.00,75.00,91.67,41.67,...,50.00,33.33,58.33,50.00,0.00,25.00,33.33,95.83,0.00,45.83

In [5]:
# 1.1. % Acerto dos alunos  em Português

alunos = np.array(range(1,101))

df_por_a = np.array(df_por)

pc_por = pd.DataFrame(df_por_a/num_quest.iloc[1,0]*100, columns = ['Quest'], index = [alunos])

pd.options.display.float_format = '{:.2f}'.format

pc_por.T

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
Quest,38.89,55.56,88.89,38.89,11.11,11.11,0.00,22.22,50.00,33.33,...,27.78,16.67,55.56,88.89,27.78,22.22,5.56,27.78,55.56,83.33

In [6]:
# 1.1. % Acerto dos alunos em Geografia

alunos = np.array(range(1,101))

df_geo_a = np.array(df_geo)

pc_geo = pd.DataFrame(df_geo_a/num_quest.iloc[2,0]*100, columns = ['Quest'], index = [alunos])

pc_geo.T

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
Quest,87.50,0.00,0.00,37.50,25.00,62.50,87.50,50.00,25.00,37.50,...,62.50,12.50,12.50,62.50,25.00,87.50,50.00,0.00,37.50,0.00

In [7]:
# 1.1.% Acerto dos alunos em Inglês

alunos = np.array(range(1,101))

df_ing_a = np.array(df_ing)

pc_ing = pd.DataFrame(df_ing_a/num_quest.iloc[3,0]*100, columns = ['Quest'], index = [alunos])

pc_ing.T

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
Quest,37.50,0.00,62.50,50.00,87.50,37.50,87.50,87.50,87.50,75.00,...,12.50,87.50,75.00,62.50,75.00,12.50,75.00,25.00,12.50,12.50

In [8]:
# 1.1.% Acerto dos alunos em História

alunos = np.array(range(1,101))

df_his_a = np.array(df_his)

pc_his = pd.DataFrame(df_his_a/num_quest.iloc[4,0], columns = ['Quest'], index = [alunos])

pc_his.T*100

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
Quest,12.50,0.00,87.50,0.00,0.00,25.00,62.50,87.50,75.00,50.00,...,25.00,37.50,12.50,75.00,12.50,50.00,12.50,50.00,62.50,75.00

In [9]:
# 1.1. % Acerto dos alunos em Física

alunos = np.array(range(1,101))

df_fis_a = np.array(df_fis)

pc_fis = pd.DataFrame(df_fis_a/num_quest.iloc[5,0]*100, columns = ['Quest'], index = [alunos])

pc_fis.T

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
Quest,66.67,91.67,33.33,0.00,75.00,75.00,0.00,8.33,41.67,66.67,...,8.33,16.67,66.67,50.00,25.00,75.00,33.33,8.33,83.33,58.33

In [10]:
# 1.1. % Acerto dos alunos em Química

alunos = np.array(range(1,101))

df_qui_a = np.array(df_qui)

pc_qui = pd.DataFrame(df_qui_a/num_quest.iloc[6,0]*100, columns = ['Quest'], index = [alunos])
pc_qui.T

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
Quest,25.00,66.67,33.33,66.67,25.00,75.00,33.33,66.67,58.33,16.67,...,41.67,25.00,0.00,50.00,66.67,25.00,25.00,41.67,91.67,16.67

In [11]:
# 1.2. Total de acerto por aluno

tot_acert = df_mat+df_por+df_geo+df_ing+df_his+df_fis+df_qui

tot_acert_a = np.array(tot_acert)

tot_acert_b = pd.DataFrame(tot_acert_a, index = [alunos], columns = ['Tot_Ques_corret'])

tot_acert_b.T

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
Tot_Ques_corret,35,48,50,32,30,50,29,49,58,39,...,31,27,40,56,25,34,27,40,40,42

In [12]:
# 1.3 Calcule o porcentual geral de cada aluno.

tot_quest = num_quest['quest'].sum()

pct_ger = tot_acert/tot_quest*100

pct_ger_a = np.array(pct_ger)

pct_ger_b = pd.DataFrame(pct_ger_a, index = [alunos], columns = ['%_geral'])

pct_ger_b.T

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
%_geral,38.89,53.33,55.56,35.56,33.33,55.56,32.22,54.44,64.44,43.33,...,34.44,30.00,44.44,62.22,27.78,37.78,30.00,44.44,44.44,46.67

In [13]:
# 1.4. Qtd de alunos com nota maior do que 45

alun_aprov = tot_acert.loc[tot_acert['Qt_acer'] > 45]

alun_aprov.count().T

Qt_acer    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [14]:
# 2.1 - Alunos com nota zero em matemática

alunos = np.array(range(1,101))

df_mat_a = np.array(df_mat)

df_mat_b = df_mat_a == 0

zer_mat = pd.DataFrame(df_mat_b  , index = [alunos], columns=['Quest'])

zer_mat[df_mat_b].index

MultiIndex([(26,),
            (95,),
            (99,)],
           )

In [15]:
# 2.1 - Alunos com nota zero em física

alunos = np.array(range(1,101))

df_fis_a = np.array(df_fis)

df_fis_b = df_fis_a == 0

zer_fis = pd.DataFrame(df_fis_b , index = [alunos], columns = ['Quest'])

zer_fis[df_fis_b].index

MultiIndex([( 4,),
            ( 7,),
            (13,),
            (27,),
            (36,),
            (50,),
            (57,),
            (66,),
            (67,),
            (73,),
            (74,),
            (85,)],
           )

In [16]:
# 2.1 - Alunos com nota zero em química

alunos = np.array(range(1,101))

df_qui_a = np.array(df_qui)

df_qui_b = df_qui_a == 0

zer_qui = pd.DataFrame(df_qui_b , index = [alunos], columns = ['Quest'])

zer_qui[df_qui_b].index

MultiIndex([(11,),
            (15,),
            (21,),
            (27,),
            (28,),
            (34,),
            (75,),
            (90,),
            (93,)],
           )

In [17]:
# 2.1 Novo dataframe com os alunos desclassificados por zero em matemática, física e química

alunos = np.array(range(1,101))

ndf_desc= pd.DataFrame(df_mat_a, index=(alunos), columns=['mat'])

ndf_desc['fis'] = df_fis_a

ndf_desc['qui'] = df_qui_a

indexNames = ndf_desc[(ndf_desc['mat'] != 0) & (ndf_desc['fis'] != 0) & (ndf_desc['qui'] != 0)].index

ndf_desc.drop(indexNames, inplace = True)

ndf_desc.T

,4,7,11,13,15,21,26,27,28,34,...,66,67,73,74,75,85,90,93,95,99
mat,10,6,10,20,7,23,0,11,21,14,...,1,5,11,1,9,15,23,14,0,0
fis,0,0,7,0,4,2,4,0,3,6,...,0,0,0,0,7,0,9,8,3,10
qui,8,4,0,3,0,0,8,0,0,0,...,6,10,9,11,0,4,0,0,8,11

In [18]:
# 2.2 - Quantos são esses alunos

ndf_desc.count()

mat    23
fis    23
qui    23
dtype: int64

In [20]:
# 2.3 Qual a média destes alunos em história e geografia

alunos = np.array(range(1,101))

df_his_a = np.array(df_his)

df_geo_a = np.array(df_geo)

al_dsclhg = pd.DataFrame(df_his_a, index = (alunos), columns=['His'])

al_dsclhg ['Geo'] = df_geo_a

media_hg = al_dsclhg.mean(axis=1)

al_dsclhg['media_hg'] = media_hg

al_dsclhg ['mat'] = df_mat_a

al_dsclhg ['fis'] = df_fis_a

al_dsclhg ['qui'] = df_qui_a

indNames = al_dsclhg[(al_dsclhg['mat'] != 0) & (al_dsclhg['fis'] != 0) & (al_dsclhg['qui'] != 0)].index

al_dsclhg.drop(indNames, inplace = True)

al_dsclhg['media_hg']

4    1.50
7    6.00
11   2.00
13   2.00
15   1.00
21   6.00
26   3.50
27   6.50
28   4.00
34   3.00
36   4.50
50   1.00
57   6.50
66   2.50
67   3.00
73   5.00
74   2.50
75   2.50
85   0.50
90   6.50
93   1.00
95   1.50
99   4.00
Name: media_hg, dtype: float64

In [21]:
# 2.4 Monte um DataFrame com os alunos que passaram para a segunda fase.

al_clsfcd = pd.DataFrame(df_mat_a, columns = ['mat'], index = [alunos]) 

al_clsfcd['por']= df_por_a

al_clsfcd['geo']= df_geo_a

al_clsfcd['ing']= df_ing_a

al_clsfcd['his']= df_his_a

al_clsfcd['fis']= df_fis_a

al_clsfcd['qui']= df_qui_a

al_cl = al_clsfcd[(al_clsfcd['mat'] != 0.00 )& (al_clsfcd['fis'] != 0.00) & (al_clsfcd['qui'] != 0.00)].index

al_cl_a = np.array(al_cl)

al_seg_fas = pd.DataFrame(al_cl_a, columns = ['alun_seg_fas'])

al_seg_fas.T

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
alun_seg_fas,"(1,)","(2,)","(3,)","(5,)","(6,)","(8,)","(9,)","(10,)","(12,)","(14,)",...,"(87,)","(88,)","(89,)","(91,)","(92,)","(94,)","(96,)","(97,)","(98,)","(100,)"

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?

In [26]:
arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

In [23]:
pd.read_csv('https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-11-10/uf%3DAC/part-00000-2fc2a8de-2acd-4136-b008-a5183e299013.c000.csv', sep = ';')

HTTPError: HTTP Error 403: Forbidden

In [25]:
pd.read_csv('https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv, sep = ';')

SyntaxError: invalid syntax (3113949862.py, line 1)

In [ ]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/completo/part-00000-d171fdda-5682-45a2-a4bb-85a0ba3be50b-c000.csv'

In [ ]:
vacAcre = pd.read_csv('https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/completo/part-00000-21b2d422-1e0b-4597-b9a4-f3d7c916f057-c000.csv', sep = ';')

vacAcre

In [29]:
vacAcre = pd.read_csv('https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/completo/part-00000-d171fdda-5682-45a2-a4bb-85a0ba3be50b-c000.csv'
                      , sep = ';')

vacAcre

HTTPError: HTTP Error 403: Forbidden

In [525]:
# 2)

In [526]:
# 3)

In [527]:
# 3) solução alternativa

In [ ]:
# 4)

In [ ]:
# 5)

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [528]:
# 1)

In [529]:
# 2)

In [ ]:
# 3)

In [ ]:
# 4)

In [ ]:
# 5)